*{

    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Times New Roman', Times, serif;

}

body{
    background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;


}
.form{
    background:darkgoldenrod;
    width: 50%;
    height: 70%;
    margin: 0% auto;
    text-align: center;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    margin-top: 50px;
    
}